.link-icon {
  width: 24px;
  height: 24px;
}

.header-links:hover .link-icon path {
  fill: #00a3e0;
}

.slash-icon {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .slash-icon {
    width: 30px;
    height: 30px;
  }
}
