/* Scrollable body */
.modal-container .ant-modal-body {
  max-height: calc(90vh - 110px); /* header + padding */
  overflow-y: auto;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.modal-container .ant-modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.modal-container .ant-modal-container {
  padding: 40px !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
}

.modal-container .ant-modal-close:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.modal-container .ant-modal-title {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-container-col {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.modal-container-col.client-details-col {
  background: #f9f9f9;
}

.modal-container-col.address-details-col {
  background: #f6f6f6;
}

.modal-container-col.deal-details-col {
  background: #f1f1f1;
}

.modal-container-col .ant-upload-select {
  width: 100%;
}

.modal-container-col .ant-upload .ant-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.modal-container-col .ant-upload .ant-btn:hover {
  background-color: transparent;
}

.modal-container-col .ant-input,
.modal-container-col .ant-select,
.modal-container-col .ant-picker,
.modal-container-col .ant-input-number,
.modal-container-col .ant-upload .ant-btn {
  padding: 10px;
  background-color: #f9f9f9;
}

.modal-container-col .ant-input:hover,
.modal-container-col .ant-input:focus,
.modal-container-col .ant-input:focus-visible,
.modal-container-col .ant-select:hover,
.modal-container-col .ant-select:focus,
.modal-container-col .ant-select:focus-visible,
.modal-container-col .ant-picker:hover,
.modal-container-col .ant-picker:focus,
.modal-container-col .ant-picker:focus-visible,
.modal-container-col .ant-input-number:hover,
.modal-container-col .ant-input-number:focus,
.modal-container-col .ant-input-number:focus-visible {
  border-color: var(--primary-color);
  box-shadow: none !important;
}

.modal-container-col .ant-input-number {
  --ant-input-number-padding-block: 0px;
  --ant-input-number-padding-block-sm: 0px;
  --ant-input-number-padding-block-lg: 0px;
  --ant-input-number-padding-inline: 0px;
  --ant-input-number-padding-inline-sm: 0px;
  --ant-input-number-padding-inline-lg: 0px;
}

.modal-container-col .ant-input:-webkit-autofill,
.modal-container-col .ant-input:-webkit-autofill:hover,
.modal-container-col .ant-input:-webkit-autofill:focus,
.modal-container-col .ant-input:-webkit-autofill:focus-visible,
.modal-container-col .ant-input-number:-webkit-autofill,
.modal-container-col .ant-input-number:-webkit-autofill:hover,
.modal-container-col .ant-input-number:-webkit-autofill:focus,
.modal-container-col .ant-input-number:-webkit-autofill:focus-visible {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.modal-container-col .ant-select-selector:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset !important;
  -webkit-text-fill-color: #000 !important;
}

.modal-select {
  text-align: left;
}

.modal-select.ant-select-item-option-active,
:where(.ant-select-dropdown) .ant-select-item-option-selected,
:where(.ant-select-dropdown) .ant-select-item-option-selected:hover,
:where(.ant-select-dropdown) .ant-select-item-option-active,
:where(.ant-select-dropdown) .ant-select-item-option-active:hover {
  font-weight: 400 !important;
}

.modal-container-footer {
  flex-flow: row nowrap;
  /* margin-top: 20px; */
}

.modal-container .submit-btn,
.modal-container .cancel-btn {
  white-space: nowrap;
  outline: none;
  height: 40px;
  text-transform: uppercase;
  width: 100%;
}

.modal-container .submit-btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.modal-container .submit-btn:hover {
  background: var(--background);
}

.modal-container .cancel-btn {
  background: var(--background) !important;
  border: 1px solid #000e28 !important;
  color: #fff !important;

  /* transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease; */
}

.modal-container .cancel-btn:hover {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.ant-picker-cell-today .ant-picker-cell-inner:before {
  border: 1px solid var(--primary-color) !important;
}

.ck-content ul {
  list-style-type: disc !important;
  margin-left: 1.5em;
}

.ck-content ol {
  list-style-type: decimal !important;
  margin-left: 1.5em;
}

@media (max-width: 768px) {
  .modal-container .ant-modal {
    width: 100vw !important;
    max-width: 100vw;
    margin: 0;
    top: 0;
  }

  .modal-container .ant-modal-body {
    max-height: calc(100vh - 110px);
  }
}
