.ant-row.data-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 0;
  margin-bottom: 16px;
}

.modal-btn {
  background: transparent;
  border-color: var(--border-color);
  /* padding: 8px 16px !important; */
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px !important;
  font-size: 16px;
  color: var(--foreground) !important;
}

.modal-btn:hover {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-select-suffix {
  margin-left: 5px;
}

.ant-select-suffix svg {
  transition:
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-open .ant-select-suffix svg {
  transform: rotate(180deg);
}

.ant-space
  > .ant-space-item:nth-child(2)
  .search-input:not(.without-add-button) {
  border-left: none;
}

.search-input,
.pagination-select {
  border-radius: 0px;
  padding: 0px 12px;
  transition: all 0.3s;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.search-input,
.search-input:focus,
.search-input:hover,
.pagination-select,
pagination-select:focus,
.pagination-select:hover {
  background: transparent !important;
  border-color: var(--border-color) !important;
  color: var(--foreground) !important;
  box-shadow: none !important;
}

.search-input input::placeholder,
.search-input .ant-input-clear-icon .anticon,
.ant-select-suffix,
.ant-select-content-value {
  color: var(--foreground) !important;
  opacity: 1;
}

.pagination-select {
  border-left: 0;
}

.ant-select-dropdown {
  border-radius: 0;
  padding: 0;
}

.ant-select-item-option {
  text-align: center;
  border-radius: 0 !important;
  color: var(--foreground) !important;
  background-color: var(--secondary-color) !important;
}

.ant-select-item-option:hover,
.ant-select-item-option.ant-select-item-option-selected {
  background-color: var(--primary-color) !important;
  font-weight: 400 !important;
}

.ant-row.data-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

/* 🔥 Mobile behavior */
@media (max-width: 768px) {
  .ant-row.data-table-header > h4 {
    width: 100%;
  }

  .ant-row.data-table-header .ant-space {
    width: 100% !important;
    justify-content: center;
    gap: 0 !important;
  }

  .search-input,
  .modal-btn,
  .pagination-select {
    width: 100% !important;
  }

  .ant-row.data-table-header .ant-space-item:has(.search-input) {
    width: 60% !important;
  }

  .ant-row.data-table-header .ant-space-item:has(.without-add-button) {
    width: 100% !important;
  }

  .ant-row.data-table-header .ant-space-item:has(.pagination-select),
  .ant-row.data-table-header .ant-space-item:has(.modal-btn) {
    width: 20% !important;
  }
}
