/* Scrollable body */
.deal-ticket-modal .ant-modal-body {
  max-height: calc(90vh - 110px); /* header + padding */
  overflow-y: auto;

  /* Hide scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}

.deal-ticket-modal .ant-modal-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.deal-ticket-modal .ant-modal-container {
  padding: 40px !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
}

.deal-ticket-modal .ant-modal-close:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.deal-ticket-modal .ant-modal-title {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.deal-ticket-modal-col {
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.deal-ticket-modal-col.client-details-col {
  background: #f9f9f9;
}

.deal-ticket-modal-col.address-details-col {
  background: #f6f6f6;
}

.deal-ticket-modal-col.deal-details-col {
  background: #f1f1f1;
}

.deal-ticket-modal-col .ant-input,
.deal-ticket-modal-col .ant-select,
.deal-ticket-modal-col .ant-picker {
  padding: 10px;
  background-color: #f9f9f9;
}

.deal-ticket-modal-col .ant-input:hover,
.deal-ticket-modal-col .ant-input:focus,
.deal-ticket-modal-col .ant-input:focus-visible,
.deal-ticket-modal-col .ant-select:hover,
.deal-ticket-modal-col .ant-select:focus,
.deal-ticket-modal-col .ant-select:focus-visible,
.deal-ticket-modal-col .ant-picker:hover,
.deal-ticket-modal-col .ant-picker:focus,
.deal-ticket-modal-col .ant-picker:focus-visible {
  border-color: var(--primary-color);
  box-shadow: none !important;
}

/* Autofill fix for AntD inputs */
.deal-ticket-modal-col .ant-input:-webkit-autofill,
.deal-ticket-modal-col .ant-input:-webkit-autofill:hover,
.deal-ticket-modal-col .ant-input:-webkit-autofill:focus,
.deal-ticket-modal-col .ant-input:-webkit-autofill:focus-visible {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset !important; /* background */
  -webkit-text-fill-color: #000 !important; /* text color */
  transition: background-color 5000s ease-in-out 0s; /* prevent flash */
}

.deal-ticket-modal-col .ant-select-selector:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f9f9 inset !important;
  -webkit-text-fill-color: #000 !important;
}

.deal-ticket-modal-select {
  text-align: left;
}

.deal-ticket-modal-select.ant-select-item-option-active {
  font-weight: 400 !important;
}

.deal-ticket-modal-footer {
  flex-flow: row nowrap;
  /* margin-top: 20px; */
}

.deal-ticket-modal .submit-btn,
.deal-ticket-modal .cancel-btn {
  white-space: nowrap;
  outline: none;
  height: 40px;
  text-transform: uppercase;
  width: 100%;
}

.deal-ticket-modal .submit-btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.deal-ticket-modal .submit-btn:hover {
  background: var(--background);
}

.deal-ticket-modal .cancel-btn {
  background: var(--background) !important;
  border: 1px solid #000e28 !important;
  color: #fff !important;

  /* transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease; */
}

.deal-ticket-modal .cancel-btn:hover {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
}

.ant-picker-cell-today .ant-picker-cell-inner:before {
  border: 1px solid var(--primary-color) !important;
}

.responsive-date-picker {
  flex: 1;
  min-width: 249px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .deal-ticket-modal .ant-modal {
    width: 100vw !important;
    max-width: 100vw;
    margin: 0;
    top: 0;
  }

  .deal-ticket-modal .ant-modal-body {
    max-height: calc(100vh - 110px);
  }

  .responsive-date-picker {
    min-width: 265px;
    margin-bottom: 16px;
  }
}
