.forgot-modal {
  width: 100% !important;
  max-width: 840px;
}

/* Modal background */
.forgot-modal .ant-modal-container {
  background: var(--background);
  color: #ffffff !important;
  padding: 0 !important;
}

.forgot-modal .ant-modal-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #535b61;
  padding: 14px 10px 14px 20px;
}

/* Title */
.forgot-modal .ant-modal-title {
  color: #ffffff;
}

/* Close icon */
.forgot-modal .ant-modal-close,
.forgot-modal .ant-modal-close:hover {
  color: #ffffff;
}

.forgot-modal .ant-modal-body,
.forgot-modal .ant-modal-footer {
  padding: 14px;
}

/* Footer buttons */
.forgot-modal .ant-btn {
  color: #000e28 !important;
  border: 1px solid var(--primary-color) !important;
  height: 40px;
  padding: 0 30px;
  font-size: 16px;
  background-color: var(--primary-color) !important;
  border-radius: 2px;
  box-shadow: 0 0 var(--primary-color);
}

.forgot-modal .ant-btn:hover {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}
