/* .main-content-container {
  margin-left: 225px;
  width: calc(100% - 225px);
  height: 100vh;

  display: flex;
  flex-direction: column;
} */

.main-content-container {
  /* margin-left: 225px;
  flex: 1;
  width: auto;

  overflow: hidden;

  scrollbar-width: none; */

  margin-left: 225px;
  flex: 1;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--background);
}

/* Only content scrolls */
.right-content-scroll {
  /* flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 20px 15px;

  scrollbar-width: none; */

  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 15px;
  scrollbar-width: none;
}

.main-content-container::-webkit-scrollbar,
.right-content-scroll::-webkit-scrollbar {
  display: none;
}

.header-information-bar {
  background: var(--secondary-color);
  padding: 10px 20px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  width: 100%;
}

.header-information-row {
  gap: 5px 25px;
}

.header-information-bar .header-item {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  /* color: #54595f; */
  color: var(--foreground);
  font-size: 13px;
  font-weight: 400;
}

.header-item-icon {
  color: var(--primary-color);
}

/* Font Awesome Duotone icons fix */
.fad {
  position: relative;
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
}

/* Optional secondary color for duotone icons */
.fad:after {
  color: rgba(0, 0, 0, 0.4);
}

.footer-container {
  height: 38px;
  font-size: 11px;
  line-height: 18px;
  color: var(--foreground);
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary-color) !important;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .main-content-container {
    margin-left: 0;
    width: 100% !important;
    height: auto;
    padding: 15px;
  }

  .right-content-scroll {
    padding: 15px 0 0;
    overflow: hidden;
  }

  .header-information-row {
    justify-content: flex-start;
  }

  .header-information-bar {
    border-radius: 6px;
  }

  .header-information-bar .header-item {
    justify-content: flex-start;
  }

  .footer-container {
    display: none;
  }
}
