/* Firefox */
.data-table .ant-table-content {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  font-size: 13px;
}

/* Chrome, Edge, Safari */
.data-table .ant-table-content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.data-table .ant-table-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.data-table .ant-table-content::-webkit-scrollbar-track {
  background: transparent;
}

.data-table {
  /* border: 1px solid #e5e6e8; */
  /* background: var(--secondary-color); */
  border-radius: 8px;
  background: transparent;
}

.data-table .ant-table-cell {
  padding: 6px 8px !important;
  border-right: 1px solid var(--foreground);
  border-left: 0px solid var(--foreground);
}

.data-table .ant-table-cell:last-child {
  border-right: none;
}

.data-table .ant-table {
  background: var(--foreground);
  border-radius: 8px;
}

.data-table tr:last-child td.ant-table-cell:first-child {
  border-end-start-radius: 8px;
}

.data-table tr:last-child td.ant-table-cell:last-child {
  border-end-end-radius: 8px;
}

.data-table th.ant-table-cell::before {
  width: 0 !important;
  height: 0 !important;
}

.data-table .ant-pagination {
  margin: var(--ant-margin) !important;
}

.data-table .ant-pagination-simple-pager input:hover,
.data-table .ant-pagination-simple-pager input:focus {
  border-color: var(--primary-color) !important;
}

.data-table .ant-pagination-item {
  background-color: var(--foreground);
}

.data-table .ant-pagination-item-link {
  background-color: var(--primary-color) !important;
  color: var(--foreground) !important;
}

.data-table .ant-pagination-item-active {
  font-weight: 400 !important;
}

.data-table .ant-pagination-item-active:hover {
  border-color: var(--secondary-color) !important;
}

.data-table .ant-pagination-item-active:hover a {
  color: var(--primary-color) !important;
}

.data-table [aria-disabled="false"] .ant-pagination-item-link:hover,
.data-table .ant-pagination-item:hover {
  background: var(--background) !important;
  background-color: transparent !important;
  color: var(--foreground) !important;
}

.data-table .ant-pagination-item:hover a {
  color: var(--foreground) !important;
}

/* .data-table .ant-pagination-simple-pager input {
  width: max-content !important;
  padding: 0 !important;
} */

.data-table .ant-table-thead > tr > th {
  /* background: var(--background); */
  /* color: #ffffffa6; */
  background: var(--primary-color);
  color: var(--foreground);
}

.data-table .ant-table-tbody > tr > td {
  border-bottom: none;
}

/* Even rows */
/* .data-table .ant-table-tbody > tr:nth-child(even),
.data-table .ant-table-tbody > tr:nth-child(even):hover {
  background-color: #fafafa !important;
} */

/* Odd rows */
/* .data-table .ant-table-tbody > tr:nth-child(odd),
.data-table .ant-table-tbody > tr:nth-child(odd):hover {
  background-color: var(--foreground) !important;
} */

/* Even rows */
.data-table .ant-table-tbody > tr:nth-child(even) > td {
  background-color: #fafafa !important;
}

/* Even hover */
.data-table .ant-table-tbody > tr:nth-child(even):hover > td {
  background-color: #fafafa !important;
}

/* Odd rows */
.data-table .ant-table-tbody > tr:nth-child(odd) > td {
  background-color: var(--foreground) !important;
}

/* Odd hover */
.data-table .ant-table-tbody > tr:nth-child(odd):hover > td {
  background-color: var(--foreground) !important;
}

.data-table .ant-pagination .ant-pagination-total-text {
  color: var(--foreground);
}

@media (max-width: 768px) {
  .data-table .ant-pagination {
    justify-content: center;
    align-items: center;
  }

  .data-table .ant-pagination .ant-pagination-total-text {
    width: 100%;
    margin-inline-end: 0;
    text-align: center;
  }
}
