.data-table .ant-table-content {
  scrollbar-width: thin; /* Firefox */
}

.data-table .ant-table-content::-webkit-scrollbar {
  height: 4px;
}

.data-table .ant-table-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.data-table {
  border: 1px solid #e5e6e8;
}

.data-table .ant-table-cell {
  padding: 10px 8px !important;
}

.data-table .ant-pagination {
  margin: var(--ant-margin) !important;
}

.data-table .ant-pagination-simple-pager input:hover,
.data-table .ant-pagination-simple-pager input:focus {
  border-color: var(--primary-color) !important;
}

.data-table .ant-pagination-item-link {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.data-table .ant-pagination-item-active,
.data-table .ant-pagination-item-active:hover {
  border-color: var(--primary-color) !important;
  font-weight: 400 !important;
}

.data-table .ant-pagination-item-active:hover a {
  color: var(--primary-color) !important;
}

.data-table [aria-disabled="false"] .ant-pagination-item-link:hover,
.data-table .ant-pagination-item:hover {
  background: var(--background) !important;
  background-color: transparent !important;
  color: #fff !important;
}

.data-table .ant-pagination-item:hover a {
  color: #fff !important;
}

/* .data-table .ant-pagination-simple-pager input {
  width: max-content !important;
  padding: 0 !important;
} */

@media (max-width: 768px) {
  .data-table .ant-pagination {
    justify-content: center;
    align-items: center;
  }

  .data-table .ant-pagination .ant-pagination-total-text {
    width: 100%;
    margin-inline-end: 0;
    text-align: center;
  }
}
